---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Marsani, a Full-Stack developer from Indonesia.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Kotlin / Android Studio</li>
        <li>React / HTML / CSS</li>
        <li>Python / PHP / Nodejs</li>
        <li>Linux / MacOS / Windows</li>
        <li>PostgreSQL / MySQL / MongoDB</li>
        <li>Trello / Discord / Moodle</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about the world of technology, particularly in software development, system administration, cybersecurity, and artificial intelligence.
      An outside hobbies of technology are reciting the Quran and studying religion, I try to live a balanced life.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
